@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    font-family: 'Poppins';
}
.headerBar{
    border-radius: 15px;
    padding: 10px;
    border-style: dashed;
    border-color: yellow;
}
.loginButton{
    background-color: azure;
    border-radius: 12px;
    width: 60px;
    height: 20px;
    padding: 15px;
    font-family: 'Poppins';

    display: flex;
    justify-content: center;
    align-items: center;
}
.loginButton:hover{
    background-color: black;
    color: white;
}
